# **Analise de l'archive results_arc1**

Résultats généré par le script main_para avec les paramètres : 

L_vals = [100] \
lr_vals = [0.1] \
it_vals = [5, 7, 10, 20] \
w_vals = [1, 2, 3, 5, 7] \
k_vals = [1, 3, 5, 10] \
occ_min_vals = [1, 5, 10] \
listpath = ["../tlnl_tp1_data/alexandre_dumas/Le_comte_de_Monte_Cristo.txt"]

In [33]:
import pandas as pd
import os
import json 
import numpy as np

In [4]:
L = []
for file in os.listdir('results'):
    with open('results/'+file,'r') as file :
        info = json.load(file)
    L.append(info)

In [31]:
df = pd.DataFrame(L)
df.reset_index(drop=True, inplace=True)
df.sort_values(by='resultat (%)', ascending=False, inplace=True)

In [23]:
df.dtypes

experience        int64
k                 int64
w                 int64
it                int64
lr              float64
L                 int64
occ_min           int64
loss             object
resultat (%)    float64
dtype: object

In [32]:
df.head()

,experience,k,w,it,lr,L,occ_min,loss,resultat (%)
30,24,1,2,20,0.1,100,10,"[51.73491343687681, 55.090170344537874, 42.131...",63.0
176,173,5,7,7,0.1,100,5,"[45.3722148550423, 74.80721688933131, inf, inf...",61.0
41,40,1,5,7,0.1,100,1,"[31.35976836672978, inf, inf, inf, inf, inf, inf]",61.0
158,156,5,3,20,0.1,100,10,"[45.08089844359968, 73.34670685842578, inf, in...",61.0
77,90,3,3,7,0.1,100,10,"[47.12899238199518, 70.47645606204566, inf, in...",60.0

In [36]:
df_clean = df[df['loss'].apply(lambda x: all(i != float('inf') for i in x) if isinstance(x, list) else False)]

In [37]:
df_clean.head()

,experience,k,w,it,lr,L,occ_min,loss,resultat (%)
1,2,1,1,5,0.1,100,5,"[33.56471472267215, 27.240730373620334, 21.309...",53.0
0,3,1,1,5,0.1,100,10,"[43.624267392602164, 39.5702022415703, 30.2872...",48.0

## **1 Influence du paramètre k**

In [27]:
moyenne_k = df.groupby(['k'])['resultat (%)'].mean().reset_index()
print(moyenne_k)

    k  resultat (%)
0   1     46.610169
1   3     45.233333
2   5     44.416667
3  10     43.466667

## **2 Influence de w**

In [28]:
moyenne_w = df.groupby(['w'])['resultat (%)'].mean().reset_index()
print(moyenne_w)

   w  resultat (%)
0  1     49.604167
1  2     46.583333
2  3     46.854167
3  5     41.787234
4  7     39.729167

## **3 Influence de it**

In [29]:
moyenne_it = df.groupby(['it'])['resultat (%)'].mean().reset_index()
print(moyenne_it)

   it  resultat (%)
0   5     50.250000
1   7     50.677966
2  10     43.866667
3  20     35.000000

## **4 Influence de occ_min**

In [30]:
moyenne_occ = df.groupby(['occ_min'])['resultat (%)'].mean().reset_index()
print(moyenne_occ)

   occ_min  resultat (%)
0        1     35.975000
1        5     48.100000
2       10     50.772152